body {
  padding: 0;
}

body #index {
  width: 100%;
}

body #index #top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body #index #top .left {
  width: 30%;
  padding: 0.16rem 0.18rem;
}

body #index #top .left img {
  width: 100%;
}

body #index #top .right {
  width: 20%;
  display: flex;
  justify-content: space-around;
}

body #index #top .right div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body #index #top .right div i {
  font-size: 0.35rem;
  color: #999999;
}

body #index #top .right div p {
  color: #999;
  font-size: 0.22rem;
}

body #index .a img {
  width: 100%;
  height: 2.6rem;
}

body #index .a .swiper-pagination-bullet {
  width: 0.15rem;
  height: 0.15rem;
  background: #7c7c7c;
}

body #index .a .swiper-pagination-bullet-active {
  background: #016b58;
  width: 0.15rem;
  height: 0.15rem;
}

body #index #nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0.4rem;
}

body #index #nav div {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.36rem;
}

body #index #nav div p {
  font-size: 0.28rem;
  color: #333;
  padding-top: 0.16rem;
}

body #index #nav div img {
  width: 1.2rem;
  height: 1.2rem;
}

body #index .xian {
  width: 100%;
  height: 0.18rem;
  background: #ccc;
}

body #index #quanwu {
  width: 100%;
}

body #index #quanwu .top {
  width: 90%;
  display: flex;
  padding: 0.32rem 0;
  align-items: flex-end;
  margin: 0 auto;
}

body #index #quanwu .top span {
  width: 0.05rem;
  height: 0.42rem;
  background: #00be9c;
}

body #index #quanwu .top p:nth-of-type(1) {
  font-size: 0.36rem;
  color: #000;
  padding-left: 0.1rem;
}

body #index #quanwu .top p:nth-of-type(2) {
  font-size: 0.24rem;
  color: #999;
  padding-left: 0.1rem;
}

body #index #quanwu .b {
  width: 90%;
  margin: 0 auto;
}

body #index #quanwu .b img {
  width: 100%;
  height: 100%;
}

body #index #quanwu .b .swiper-pagination {
  bottom: -0.3rem;
  background: black;
}

body #index #quanwu .b .swiper-pagination-bullet {
  width: 0.15rem;
  height: 0.15rem;
  background: #7c7c7c;
}

body #index #quanwu .b .swiper-pagination-bullet-active {
  background: #016b58;
  width: 0.15rem;
  height: 0.15rem;
}

body #index #quanwu .xia {
  width: 90%;
  display: flex;
  margin: 0 auto;
  padding: 0.36rem 0;
  justify-content: space-between;
}

body #index #quanwu .xia div {
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body #index #quanwu .xia div p {
  font-size: 0.23rem;
  color: #000;
  padding-left: 0.08rem;
}

body #index #quanwu .xia div i {
  font-size: 0.4rem;
  color: #00be9c;
}

body #index #yuyue {
  width: 100%;
}

body #index #yuyue .top {
  width: 90%;
  display: flex;
  padding: 0.3rem 0;
  align-items: flex-end;
  margin: 0 auto;
}

body #index #yuyue .top span {
  width: 0.05rem;
  height: 0.42rem;
  background: #00be9c;
}

body #index #yuyue .top p:nth-of-type(1) {
  font-size: 0.36rem;
  color: #000;
  padding-left: 0.1rem;
}

body #index #yuyue .top p:nth-of-type(2) {
  font-size: 0.24rem;
  color: #999;
  padding-left: 0.1rem;
}

body #index #yuyue .center {
  width: 100%;
  display: flex;
  flex-direction: column;
}

body #index #yuyue .center div {
  margin: 0 auto;
  width: 5.86rem;
  height: 0.7rem;
  border: 0.02rem #eaeaea solid;
  border-radius: 0.05rem;
  margin-bottom: 0.25rem;
}

body #index #yuyue .center div input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.28rem;
  color: #cacaca;
}

body #index #yuyue .center div button {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.36rem;
  background: #FEB605;
  border-radius: 0.05rem;
  color: white;
}

body #index #yuyue .center ::-webkit-input-placeholder {
  padding-left: 0.2rem;
}

body #index #sheji {
  width: 100%;
  padding-bottom: 0.36rem;
}

body #index #sheji .top {
  width: 90%;
  display: flex;
  padding: 0.3rem 0;
  align-items: center;
  margin: 0 auto;
}

body #index #sheji .top span {
  width: 0.05rem;
  height: 0.42rem;
  background: #00be9c;
}

body #index #sheji .top p:nth-of-type(1) {
  font-size: 0.36rem;
  color: #000;
  padding-left: 0.1rem;
}

body #index #sheji .center {
  width: 100%;
  display: flex;
  padding-bottom: 0.36rem;
}

body #index #sheji .center div {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body #index #sheji .center div p {
  padding-top: 0.25rem;
  font-size: 0.36rem;
  color: #000;
}

body #index #sheji .center div span {
  width: 1.2rem;
  height: 0.42rem;
  font-size: 0.24rem;
  text-align: center;
  line-height: 0.42rem;
  background: #00be9c;
  color: white;
  border-radius: 0.05rem;
  margin-top: 0.1rem;
}

body #index #sheji .center div img {
  width: 80%;
}

body #index #sheji .xia {
  width: 90%;
  margin: 0 auto;
  display: flex;
  border-radius: 0.05rem;
  text-align: center;
  line-height: 0.7rem;
}

body #index #sheji .xia p {
  width: 50%;
  height: 0.7rem;
  border: 0.02rem solid #ccc;
  font-size: 0.28rem;
  color: #00be9c;
}

body #index #sheji .xia p i {
  font-size: 0.3rem;
  margin-left: 0.1rem;
}

body #index #xiaoguo {
  width: 100%;
}

body #index #xiaoguo .top {
  width: 90%;
  display: flex;
  padding: 0.3rem 0;
  align-items: center;
  margin: 0 auto;
}

body #index #xiaoguo .top span {
  width: 0.05rem;
  height: 0.42rem;
  background: #00be9c;
}

body #index #xiaoguo .top p:nth-of-type(1) {
  font-size: 0.36rem;
  color: #000;
  padding-left: 0.1rem;
}

body #index #xiaoguo .center {
  width: 90%;
  margin: 0 auto;
}

body #index #xiaoguo .center .shang {
  position: relative;
  margin-bottom: 0.1rem;
}

body #index #xiaoguo .center .shang img {
  width: 100%;
}

body #index #xiaoguo .center .shang p {
  position: absolute;
  bottom: 0.15rem;
  right: 0.15rem;
  width: 0.7rem;
  height: 0.42rem;
  background: #000;
  opacity: 0.5;
  text-align: center;
  line-height: 0.42rem;
  color: white;
  font-size: 0.2rem;
  border-radius: 0.05rem;
}

body #index #xiaoguo .center .zhong {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

body #index #xiaoguo .center .zhong div {
  width: 49.5%;
  position: relative;
}

body #index #xiaoguo .center .zhong div img {
  width: 100%;
}

body #index #xiaoguo .center .zhong div p {
  position: absolute;
  bottom: 0.15rem;
  right: 0.15rem;
  width: 0.7rem;
  height: 0.42rem;
  background: #000;
  opacity: 0.5;
  text-align: center;
  line-height: 0.42rem;
  color: white;
  font-size: 0.2rem;
  border-radius: 0.05rem;
}

body #index #xiaoguo .xia {
  padding: 0.36rem 0;
  width: 90%;
  margin: 0 auto;
  display: flex;
  border-radius: 0.05rem;
  text-align: center;
  line-height: 0.7rem;
}

body #index #xiaoguo .xia p {
  width: 50%;
  height: 0.7rem;
  border: 0.02rem solid #ccc;
  font-size: 0.28rem;
  color: #00be9c;
}

body #index #xiaoguo .xia p i {
  font-size: 0.3rem;
  margin-left: 0.1rem;
}

body #index #gongdi {
  width: 100%;
}

body #index #gongdi .top {
  width: 90%;
  display: flex;
  padding: 0.3rem 0px;
  align-items: center;
  margin: 0 auto;
}

body #index #gongdi .top span {
  width: 0.05rem;
  height: 0.42rem;
  background: #00be9c;
}

body #index #gongdi .top p:nth-of-type(1) {
  font-size: 0.36rem;
  color: #000;
  padding-left: 0.1rem;
}

body #index #gongdi .center {
  width: 90%;
  margin: 0 auto;
}

body #index #gongdi .center img {
  width: 100%;
}

body #index #gongdi .center div {
  display: flex;
  align-items: center;
  margin-top: 0.1rem;
}

body #index #gongdi .center div p {
  font-size: 0.28rem;
  color: #000;
}

body #index #gongdi .center div span {
  background: #00be9c;
  color: white;
  font-size: 0.2rem;
  width: 1rem;
  height: 0.3rem;
  text-align: center;
  line-height: 0.3rem;
  border-radius: 0.05rem;
  margin-left: 0.1rem;
}

body #index #gongdi .xia {
  padding: 0.36rem 0;
  width: 90%;
  margin: 0 auto;
  display: flex;
  border-radius: 0.05rem;
  text-align: center;
  line-height: 0.7rem;
}

body #index #gongdi .xia p {
  width: 50%;
  height: 0.7rem;
  border: 0.02rem solid #ccc;
  font-size: 0.28rem;
  color: #00be9c;
}

body #index #gongdi .xia p i {
  font-size: 0.3rem;
  margin-left: 0.1rem;
}

body #index #gonglue {
  width: 100%;
}

body #index #gonglue .top {
  width: 90%;
  display: flex;
  padding-top: 0.3rem;
  align-items: center;
  margin: 0 auto;
}

body #index #gonglue .top span {
  width: 0.05rem;
  height: 0.42rem;
  background: #00be9c;
}

body #index #gonglue .top p:nth-of-type(1) {
  font-size: 0.36rem;
  color: #000;
  padding-left: 0.1rem;
}

body #index #gonglue .center {
  width: 90%;
  margin: 0 auto;
}

body #index #gonglue .center .div {
  display: flex;
  justify-content: space-between;
  padding: 0.31rem 0;
}

body #index #gonglue .center .div .zuo {
  width: 30%;
}

body #index #gonglue .center .div .zuo img {
  width: 100%;
}

body #index #gonglue .center .div .you {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body #index #gonglue .center .div .you p {
  font-size: 0.35rem;
  color: #000;
  padding-left: 0.22rem;
}

body #index #gonglue .center .div .you div {
  width: 100%;
  display: flex;
  align-items: center;
}

body #index #gonglue .center .div .you div p {
  font-size: 0.28rem;
  color: #999;
}

body #index #gonglue .center .div .you div i {
  font-size: 0.3rem;
  padding-right: 0.2rem;
}

body #index #gonglue .xia {
  padding: 0.36rem 0;
  width: 90%;
  margin: 0 auto;
  display: flex;
  border-radius: 0.05rem;
  text-align: center;
  line-height: 0.7rem;
}

body #index #gonglue .xia p {
  width: 50%;
  height: 0.7rem;
  border: 0.02rem solid #ccc;
  font-size: 0.28rem;
  color: #00be9c;
}

body #index #gonglue .xia p i {
  font-size: 0.3rem;
  margin-left: 0.1rem;
}

body #index .d-mshu {
  width: 100%;
  box-sizing: border-box;
  padding: 0.2rem;
  font-size: 0.28rem;
  background: white;
  margin: 0.2rem 0;
}

body #index .fw {
  width: 100%;
  background: white;
  border-bottom: 0.02rem solid #eaeaea;
}

body #index .d-fw {
  width: 100%;
  font-size: 0.28rem;
  padding-top: 0.2rem;
}

body #index .d-fw p {
  text-align: center;
}

body #index .d-fw i {
  font-size: 0.28rem;
  color: #39C894;
}

body #index .d-fw1 {
  width: 90%;
  font-size: 0.28rem;
  display: flex;
  margin: 0 auto;
  padding: 0.1rem 0;
}

body #index .d-fw1 div {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body #index .d-fw1 div span {
  display: inline-block;
  width: 100%;
  border-right: 0.01rem solid #eaeaea;
  text-align: center;
}

body #index .d-fw1 div .d-span {
  color: #39C894;
}

body #index .d-fw1 div .d-span1 {
  border-right: 0px;
}
